.order-online {
    height: 50vh;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(../../Images/sushi8.jpg) 
    no-repeat center center fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.order-online-title {
    background-color: white;
    color: black;
    height: 20%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-online-title > h1 {
    font-weight: bold;
}

.order-online-description {
    background-color: white;
    color: black;
    height: 20%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-online-description > h1 {
    font-weight: bold;
}