.about {
    height: 100vh;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.bottom-half {
    margin-top: 50px;
}

.about-image {
    height: 100%;
    width: 100%;
}

.about-image-bottom {
    height: 50%;
    width: 100%;
}