.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}
.container {
    margin-top: 100px;
}
.about-title {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 40px;
}

.bottom-half {
    margin-top: 50px;
}

.about-image {
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.about-image-bottom {
    height: 50%;
    width: 100%;
}