.dropdown {
    cursor: pointer;
}

.navbar {
    font-weight: bold;
}

.navbar-nav {
    margin-right: 100px !important;
}

.navbar-header {
    background-color: white;
}

.nav-link:hover {
    color: 	#99aab5 !important;
}

.nav-item {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.navbar-brand{
    letter-spacing: 10px;
    margin-left: 100px;
    font-size: 50px;
}
