@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(./Fonts/ProximaNovaThin.otf) format('opentype')
}
@font-face {
  font-family: 'ProximaNovaBlack';
  src: local('ProximaNovaBlack'), url(./Fonts/ProximaNovaBlack.otf) format('opentype')
}


body,html {
  margin: 0;
  font-family: 'ProximaNova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: black;
  font-size: 20px;
}